registry=https://khurana.jfrog.io/artifactory/api/npm/npm/
_auth = Z2F1cmF2a2h1cmFuYTE1NEBnbWFpbC5jb206QUtDcDhrclZHRVBFajFXcXdEZG44NHNHeUxndkFiQkpWODZwWlVEdEVIa0hQdlg2dGRrQU5XTkxKVjdMS1p0TVFmSDVURWpiRA==
email = gauravkhurana154@gmail.com
always-auth = true
